[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
celery = "*"
redis = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
python-dotenv = "*"
pytest-env = "*"

[requires]
python_version = "3.11"
